#home-page {
    .main-search-box {
        border: 3px solid #FFFFFF;
        border-radius: 10px;
        background-color: #FFFFFFDD;

        #home-search-checkbox:checked {
            color: white;
        }

        .search-add-icon {
            background-color: $primaryColorOpacity20;
            border-radius: 5px;
            padding: 7px;
            &:hover {
                cursor: pointer;
            }
            svg {
                color: $primaryColor;
            }
        }
    }

    /* STYLE C */

    .checkboxes {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .checkboxes__row {
        display: flex;
    }
    .checkboxes__row:not(:last-child) {
        border-bottom: 1px solid #eee;
    }

    .checkbox {
        display: flex;
        align-items: center;
        &.style-c {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
        
            input:checked ~ .checkbox__checkmark {
                background-color: var(--primary-color);
            }
        
            input:checked ~ .checkbox__checkmark:after {
                opacity: 1;
            }
        
            &:hover {
                input ~ .checkbox__checkmark {
                    background-color: #eee;
                }
        
                input:checked ~ .checkbox__checkmark {
                    background-color: var(--primary-color);
                }
            }
    
            .checkbox__checkmark {
                position: absolute;
                top: 2px;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
                transition: background-color 0.25s ease;
                border-radius: 4px;
        
                &:after {
                    content: "";
                    position: absolute;
                    left: 8px;
                    top: 4px;
                    width: 5px;
                    height: 10px;
                    border: solid #FFF;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity 0.25s ease;
                }
            }
        }
    }
  

    .home-search-category-box {
        height: 40px;
        background-color: #FFFFFFAA;
    }

    .flights {
        background-color: $backgroundColor;
    }
    .swiper-navigation-btns {
        button {
            border-radius: 5px;
            background-color: $secondaryColor;
            color: white;
            height: 40px;
            width: 40px;
            &:hover {
                background-color: black;
                color: white;
            }
        }
        button.active {
            background-color: $primaryColor;
        }
    }
}